@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    background-color:rgb(255, 247, 211);
    font-family: "Nunito", sans-serif;
    font-optical-sizing: 200px;
    font-style: normal;
}
h1 {
    background-color: rgb(255, 234, 165);
    color: #ff4261;
    border: 5px solid #ff4261;
    border-radius: 20px;
    height: 60px;
    box-sizing: border-box;
    padding: 5px;
}
#mapa_departamentos {
    border: 5px solid #ff4261;
    border-radius: 20px;
    width: 300px;
    height: 400px;
}
#subtitulos {
    background-color: #ff8989;
    width: 200px;
    border: 5px solid #ff4261;
    border-radius: 20px;
    text-align: center;
}
mark {
    background-color: #f9ffac;
}
#mapa_colombia {
    background-color: rgb(255, 255, 255);
    border: 5px solid #ff4261;
    border-radius: 20px;
    box-sizing: border-box;
}
.fotos-elementos-3{
    border: 5px solid #ff4261;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin-right: 50px;
    margin-left: 50px;
}
.fotos-elementos-4 {
    border: 5px solid #ff4261;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    margin-right: 45px;
}